body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
  }
  
  header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  #perfil-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #perfil-container p {
    margin: 10px 0;
  }
  